### Java ###
*.class

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear

### Gradle ###
.gradle
/build/

# Idea config
*.iml
.idea

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache
